@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

#body-background {
    background-color: #223130;

}

/* Heading Styling */
h1 {
    font-family: inter, sans-serif;
    font-weight: 900;
    color: #d3ffe9;
    font-size: 7rem;
    text-align: center;
    margin-top: 3%;
}

h2 {
    font-family: archivo-black, sans-serif;
    color: #b3d1cb;
    text-align: center;
    font-size: 3rem;
    margin: 2%;
}

h3 {
    font-family: inter, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #d3ffe9;
}

p {
    font-family: inter, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    color: #d3ffe9;

}

/* Button Styling */
#button-styling {
    margin: 3% 9%;
    padding: 5%;
    height: 10rem;
    width: 70%;
    text-align: center;
    border: #d3ffe9 1px solid;
}

.button {
    background: none;
}

.button-emojis {
    margin: 0 80px;
    padding: 0 10%;
    background: none;
    background-color: none;
    transform: rotate(-90deg);
}

#paper-rotate {
    transform: rotate(0deg);
}

#start-button {
    font-family: inter, sans-serif;
    color: black;
    background-color: #d3ffe9;
    padding: 2%;
}